  <%= stylesheet_link_tag "dashboard/growth_tool" %>
  
  <div class="content">
    <h2>Share Your Channel</h2>
    <div class="dis_input">
      <input type="text" value=" https://m.me/<%= current_user.selected_page %>" readonly>
    </div>
    <h2>Have a Website?</h2>
    <h3>Add Send to Messenger button to convert visitors into subscribers.</h3>
    <div class="fb_button">
        <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='blue' size='standard'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <xmp><div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='blue' size='standard'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script></xmp>
    </div>
    
    <div class="fb_button">
        <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='blue' size='standard'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <xmp><div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='blue' size='large'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script></xmp>
    </div> 
    
    <div class="fb_button">
        <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='blue' size='xlarge'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <xmp><div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='blue' size='xlarge'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script></xmp>
    </div>
    
    <div class="fb_button">
        <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='white' size='standard'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <xmp><div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='white' size='standard'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script></xmp>
    </div> 
    
    <div class="fb_button">
        <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='white' size='large'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <xmp><div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='white' size='large'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script></xmp>
    </div> 
    
    <div class="fb_button">
        <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='white' size='xlarge'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
        <xmp><div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1695480204002744' page_id='<%= current_user.selected_page %>' color='white' size='xlarge'></div><script> window.fbAsyncInit = function() { FB.init({ appId : '1695480204002744', xfbml : true, version : 'v2.6' }); }; (function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = '//connect.facebook.net/en_US/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script></xmp>
    </div> 
  </div>
  
  <%= javascript_include_tag "dashboard/growth_tool" %>

