    
<%= stylesheet_link_tag 'index' %>
<%= stylesheet_link_tag 'include/bootstrap' %>
<%= stylesheet_link_tag 'include/font-awesome' %>

    <header class="text-center">
    	<div class="home-logo"><a href="#"><%= image_tag 'logo.svg' %></a></div>
    </header>
            
    <section class="banner-section">
    	<h1 class="title text-center"> <span>Nobody</span> Opens Apps<br/> Stop creating content where your audience isn't</h1>
    	<p class="short-description">We help Publishers create interactive snackable content for Messenger</p>
            	
    	<div class="banner-images container">
           		<div class="row">
    			<div class="col-sm-4"><%= image_tag 'iphone2' %></div>
    			<div class="col-sm-4"><%= image_tag 'iphone1' %></div>
    			<div class="col-sm-4"><%= image_tag 'iphone3' %></div>
    		</div>
    	</div>
    </section>
            
    <section class="facebook-massenger-section">
    	<h1 class="title text-center"><span>Invite-Only Beta on Facebook Messenger</span></h1>
    </section>
            
<%= javascript_include_tag 'include/jquery' %>
<%= javascript_include_tag 'include/bootstrap.min' %>